<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Configurations>
    <Configuration>
        <Category>
            <CategoryName>lab3.logger.main</CategoryName>
        </Category>
        <AppenderLevel>
            <Appender xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ConsolAppender">
                <Filter xsi:type="MessageTextFilter" Invert="false">
                    <KeyWord>123</KeyWord>
                </Filter>
                <Filter xsi:type="LevelFilter">
                    <KeyLevel>ERROR</KeyLevel>
                </Filter>
                <Filter xsi:type="ExceptionTextFilter">
                    <KeyException>NullPointerException</KeyException>
                </Filter>
                <Layouts>
                    <Layout>%p %d{H:m:s,Y.M.D} %c %m %t %s</Layout>
                    <Separator>|</Separator>
                </Layouts>
            </Appender>
            <Appender xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="FileAppender" FileName="log.txt">
                <Filter xsi:type="MessageTextFilter" Invert="false">
                    <KeyWord>System</KeyWord>
                </Filter>
                <Layouts>
                    <Layout>%p %d{H:m:s,Y.M.D} %c %m %t %s</Layout>
                    <Separator>|</Separator>
                </Layouts>
            </Appender>
            <Level>WARN</Level>
        </AppenderLevel>
        <AppenderLevel>
            <Appender xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="DataBaseAppender" Driver="com.mysql.jdbc.Driver">
                <Filter xsi:type="DefaultFilter"/>
                <Layouts>
                    <Layout>%d{H:m:s,Y.M.D} %p %c %t %m %s</Layout>
                    <Separator>|</Separator>
                </Layouts>
                <Password>123456</Password>
                <SQLRequest>INSERT INTO log_table(date, level, class, thread, message, stacktrace) VALUES(?, ?, ?, ?, ?, ?)</SQLRequest>
                <URL>jdbc:mysql://localhost:3306/mydatabase</URL>
                <UserName>kirill</UserName>
            </Appender>
            <Level>INFO</Level>
        </AppenderLevel>
    </Configuration>
</Configurations>
